@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #66e2dc;
	--secondary-color: #fa7453;
	--neutral-color: #ffb964;
	--android-button-default-color: #fcfaf9;
	--ios-button-hover-color: #191826;
}

/* Body - background image */
body {
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
	display: flex;
	justify-content: center;
	background-image: url(../assets/bg-main-mobile.png);
	background-repeat: no-repeat;
	background-size: 30rem;
	background-position: left 2rem top -9.875rem;
}

/* Header */
.header {
	margin: 2.4994rem 1.5rem 10.375rem;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.header-heading {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 3rem;
	letter-spacing: -0.0625rem;
	max-width: 20.4375rem;
	margin: 4.25rem 0 1.5rem;
}

.header-paragraph {
	font-weight: 400;
	line-height: 2.125rem;
	max-width: 20.4375rem;
}

/* Pricing Features Section */
.features {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 100%;
}

.bg-black-wrapper {
	background-color: #191826;
	background-image: url(../assets/bg-pattern-2.svg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: 17.5rem 26.25rem;
	border-radius: 0.75rem;
	max-width: 23.475rem;
	height: 37.5rem;
	width: 23.475rem;
}

.illustration-img {
	position: relative;
	width: 13.0606rem;
	height: 26.875rem;
	top: -6.125rem;
	left: 5.0419rem;
}

.og-bg-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: var(--secondary-color);
	color: var(--android-button-default-color);
	border-radius: 0.75rem;
	height: 34.125rem;
	width: 23.475rem;
	padding: 3rem 2.25rem 3rem;
	margin: -13.75rem 0 0;
}

.features-heading {
	font-size: 2rem;
	line-height: 2.5rem;
	font-weight: 700;
}

.features-paragraph {
	font-size: 1.125rem;
	line-height: 1.75rem;
	margin: 0.75rem 0 2.25rem 0;
}

.subscription-price {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 2rem;
}

.subscription-price .cost {
	font-size: 4.0625rem;
	line-height: 3.25rem;
	font-weight: 700;
	margin-right: 1rem;
}

.subscription-price .month {
	font-size: 1.25rem;
	line-height: 2rem;
}

.download-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18.5rem;
	max-width: 18.5rem;
	height: 3.8125rem;
	font-size: 1.125rem;
	font-weight: 700;
	border-radius: 0.75rem;
	border: none;
	cursor: pointer;
	line-height: 2rem;
}

.android-btn {
	margin-top: 1rem;
	background-color: var(--android-button-default-color);
    transition: 0.3s;
}

.android-btn:hover {
	background-color: var(--neutral-color);
}

.ios-btn {
	background-color: var(--ios-button-hover-color);
	color: #fcfaf9;
    transition: 0.3s;
}

.ios-btn:hover {
	background-color: var(--primary-color);
}
.btn-label {
	margin-left: 0.5rem;
}

/* Footer */
.footer {
	display: flex;
	flex-direction: column;
	margin: 4rem 1.5rem 5rem;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	margin: 2.0006rem 0 4rem;
	line-height: 1.625rem;
	max-width: 20.4375rem;
}

.info .footer-paragraph {
	max-width: 20.4375rem;
}

.info .social-contact {
	display: flex;
	gap: 1.25rem;
}

.social-icon {
    transition: 0.3s; 
}

.social-icon:hover {
	cursor: pointer;
	fill: var(--secondary-color);
}